<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
    }
</style>

<table>
    <thead>
    <tr>
        <th style="padding: 40px">Name</th>
        <th style="padding: 40px">Model</th>
        <th style="padding: 40px">Series</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td style="padding: 40px" th:text="${car.name}"></td>
        <td style="padding: 40px" th:text="${car.model}"></td>
        <td style="padding: 40px" th:text="${car.series}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>